/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS variables */

:root {
  --color-primary: #000; /* black */
  --color-secondary: #ffffff; /* white */
  --color-tertiary: #d10f0f; /* red */
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Public Sans", sans-serif;
}

/* General styles */

body {
  font-family: var(--primary-font);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
}

/* Header section */
header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  /* padding: 0; */
  /* margin: em; */
}

header a {
  text-decoration: none;
  color: var(--primary-font);
  font-family: var(--secondary-font);
}

header li {
  list-style-type: none;
}

/* Toggel navigation */

#nav-list {
  justify-content: space-between;
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  left: 0;
  display: none;
}

#menu:checked ~ #nav-list {
  display: block;
}

#menu {
  display: none;
}

/* Main section */

main {
  background-color: aqua;
  flex: 1 0 auto;
}

/* Footer section */

footer {
  background-color: #ffffff;
  display: flex;
  border-top: 2px solid #000;
}

footer h6 {
  padding: 0 1em;
}

#contact a {
  display: inline-block;
  margin: 1rem;
  color: var(--color-primary);
  float: left;
  padding: 0;
}

#contact p {
  padding: 1em;
}

#subscribe {
  /* padding: 2rem; */
  margin: 1em;
}

#subscribe p {
  font-size: 12px;
  margin-top: 2rem;
}

.btn {
  background-color: var(--color-tertiary) !important;
}

/* Media queries */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


  /* Header */

  nav {
    display: flex;
  }

  #nav-list {
    display: block;
    position: relative;
    padding:1rem;
    display:flex; Puts the nav list into a row */ */
    
  }

  nav li {
    padding:1rem; */ space between nav list */
  }

  #menu-bars {
    display: none !important; */ make the nav toggle bars disapper */
  }

  #sub {
    margin-top:0.5rem !important;
   }

/* Footer */

#subscribe {
  position: absolute;
  right: 0;
 
}


#contact {
  display:flex;
  margin-bottom: 4rem;
}

footer h6 {
  padding: 1.2rem
  
}

footer p {
  
}

}


