/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS variables */

:root {
  --color-primary: #000; /* black */
  --color-secondary: #ffffff; /* white */
  --color-tertiary: #d10f0f; /* red */
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Public Sans", sans-serif;
}

/* General styles */

body {
  font-family: var(--primary-font);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Buttons */

.red-button {
  background-color: var(--color-tertiary) !important;
}

.red-button:hover {
  color: #000 !important;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
}

/* Header section */
header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a {
  text-decoration: none;
  color: var(--primary-font);
  font-family: var(--secondary-font);
}

header li {
  list-style-type: none;
}

/* Toggel navigation */

#logo {
  margin-left:8px
}

nav {
  margin: 16px;
  
}

#nav-list {
  justify-content: space-between;
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  left: 0;
  display: none;
}

#menu:checked ~ #nav-list {
  display: block;
}

#menu {
  display: none;
}

.active:hover {
  text-decoration: underline;
}

/* Main section */

main {
  background-color: var(--color-secondary);
  flex: 1 0 auto;
  margin-top: 1rem;
}

.about-us {
  margin-top: 2rem;
 
  
}

.main-header {
  text-align: center;
  margin-top: 2rem;
  font-size: 18px;
  text-wrap:nowrap;
}

.main-paragraph {
  text-align: center;
  font-size: 13px;
  
}

.jordans {
  width: 300px;
  height: 450px;
  border-radius: 2%;
}

.center{
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}

  /* Test */


.centered{
  max-width:100%;
  margin: 0 auto;
  text-align: center;
  margin-left: 0.8em; !important;
}

  /* Test


/*  subscribe button  */
.sub {
  display: block;
  margin: auto; /*Centering button */
  width: 6rem;
  text-decoration: none;
  margin-right:3rem;
  margin-top:2rem;
  border: 2px solid var(--color-tertiary);
  border-radius: 5px;
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
  font-size: 13px;
  text-align: center;
}

.sub-highlight {
  border: 2px solid var(--color-tertiary);
  border-radius: 5px;
  background-color: var(--color-tertiary);
  padding: 0.3rem;
  color: var(--color-secondary);
  font-size: 13px;
  text-align: center;
  margin:auto;
}


section {
  margin: 0 auto;
  display: table;
  
}
  /* Test
 
  /* Margin - Centers main content but does not affect content on bigger screens and display table on smaller screens*/


.first-section {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 80%;
  
}
 
/* .center {
  background-color:pink;
  display:flex;
  flex-direction:column;
  align-items:center;

} */

.first-col {
  text-align: center;
  font-size: 14px;
}

.jacket{
  width: 19rem;
}

.bandanas{
  width: 19rem;
}

.tracksuit{
  width: 19rem;
}

.second-header {
  text-align: center;
  margin-top: 1rem;
  font-size: 20px;
  text-wrap:nowrap;
}

.card {
  margin: 1rem;
  border: none !important;
}

.featured-header {
  font-size: 17px;
  text-align: center;
  
}

.featured-paragraph {
  text-align: center;
  width:100%;
  
}

/* Footer section */

footer {
  background-color: #ffffff;
  display: flex;
  border-top: 1px solid #000;
  margin:auto;
}

footer h6 {
  padding: 0 1em;
}

#contact a {
  display: inline-block;
  margin: 1rem;
  color: var(--color-primary);
  float: left;
  padding: 0;
}

#contact p {
  padding: 1em;
}

.social-hover:hover{
color:var(--color-tertiary)
}

#subscribe p {
  font-size: 12px;
  margin-top: 2rem;
}

.column {
  border: 1px solid #000;
  min-height: 4rem;
}

/* Subscribe Page  */

#details {
  margin-left: 15px;
}

.form-width{
  width: 300px !important;
}

input, select{
  border:1px solid #000 !important;
}

.newsletter-header {
  margin-left: 20px;
}

.newsletter-paragraph {
  margin-left: 20px;
}

.email {
  width: 100px;
}

.submit {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: var(--color-tertiary) !important;
}

.submit:hover{
  color: #000 !important;
}
/* Success page */

.sucess-header {
  text-align: center;
  font-size: 35px;
  margin-top: 70px;
}

.sucess-paragraph {
  text-align: center;
}

/* sucess button */

#return {
  text-align: center;
  /*Centers button on all screen sizes */
}

/* Events/rare finds page - events css reused on rare finds page as both have the similar layout */

.first-event {
  margin-top: 16px;
}

.events-images {
  width: 350px; 
  height: 250px
}

.guide{
  display:none;
}

.middle-event{
  border: 1px solid red;
  margin-bottom:1rem;
}

/* Media queries */

/* Small devices (portrait tablets and large phones, 350px and up) */
@media only screen and (min-width: 350px) {

  /* section {
    background:pink;
    
    margin-left: auto;

    margin-right: auto;
  } */

   centered{
    max-width:70%;
    /* width:100px; */
    
   }
    
  
    /* Test */
  



  .second-header {
    margin: auto;
  }

  section {
    width: 90%;
  }

  /* Code from W3schools.com to center the first image ( Centers the image horizontally )- added margin-bottom and changed width */

  .first-section {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem; */
    
  }

  footer {
    min-width: 100%;
  }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* Header */

   .center{
    max-width: 150%;
    margin: 0 auto;
   }
    /* Test */
 

  .centered{
    max-width: 150%;
    margin: 0 auto;
  }
  
    /* Test */
  

  #logo {
    text-wrap: nowrap;
  }

  nav {
    display: flex;
  }

  #nav-list {
    display: block;
    position: relative;
    padding: 1rem;
    display: flex;
    /*Puts the nav list into a row */
  }

  nav li {
    padding: 1rem;
    /* space between nav list */
  }

  #rare-nav {
    text-wrap: nowrap;
  }

  #menu-bars {
    display: none !important;
    /* make the nav toggle bars disapper */
  }

  .sub {
    margin-top: 0.9rem;
    text-align: center;
  }

  /* Main */

  .main {
    display:flex !important;
  }

  .first-col {
    font-size: 22px;
  }

  .featured-header {
    text-align: center;
    text-wrap: wrap;
  }

  .main-header {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 30px;
  }

  .main-paragraph {
    float: right;
    margin-top: 10rem;
    font-size: 20px;
    width: 50%;
    text-wrap:wrap;
    
    /* width 50% wraps the text */
  }

 
 .second-header {
  font-size:25px;
 }


  .second-section {
    display: flex !important;
    justify-content: space-evenly;
    margin-top: 1rem !important;
  }

  .second-header {
    text-align: center;
    margin-top: 1rem;
  }

  /* Footer */

  #subscribe {
    position: absolute;
    right: 0;
  }

  #contact {
    display: flex;
    margin-bottom: 4rem;
  }

  footer h6 {
    padding: 1.2rem;
  }

    /* Footer copyright info */

    #subscribe p {
      margin-right:3rem !important;
    }

  /* Subscribe page */

  .newsletter {
    margin-left: 150px;
    margin-top: 80px;
  }

  /* Success page */

  .sucess-header {
    margin-top: 150px;
  }

  .sucess-paragraph {
    font-size: 18px;
  }

  /* Events/rare finds page - events css reused on rare finds page as both have the similar layout */

  /* Flex row and row reverse allows image and text to be next to each other on the left and the right */

  #events-paragraph {
    font-size: 15px;
  }

  .first-event {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
  }

  .first-event p {
    margin-left: 2rem;
  }

  .second-event {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 16px;
  }

  .middle-event{
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    border: 1px solid red;
  }

  .middle-event p{
    margin-left: 2rem;
    margin-top: 2rem;
  }

  .second-event p {
    margin-right: 2rem;
  }

  .third-event {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    margin-bottom: 20px;
  }

  .third-event p {
    margin-left: 2rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .logo-display{
    margin-left:2rem !important;
  }

  #sub-highlight {
    font-size: 15px;
  }

  .sub {
    padding: 6px 8px 6px 8px !important ;
    font-size: 18px !important;
  }

  .about-us {
    margin-top: 25px;
  }

  .jordans {
    width: 300px !important;
  }

  #first-header {
    font-size: 35px;
    margin-bottom: 2rem;
  }

  .first-section {
    margin-right: 7rem;
  }

  .second-header {
    padding-top: 4rem;
    font-size: 35px;
  }

  .main-header {
    font-size: 35px;
  }

  /* .main-paragraph {
    position: absolute;
    width: 25%;
    margin-left: 500px;
    margin-top: 96px;
    font-size: 30px;
  } */

  /* Footer copyright info */

  #subscribe p {
    margin-right:3rem !important;
  }

  /* Subscribe page */

  .newsletter {
    margin: auto;

    width: 25%;
  }

  .newsletter-header {
    font-size: 30px;
  }

  .newsletter-paragraph {
    font-size: 15px;
  }

  /* subscibe success page */

  .sucess-header {
    font-size: 70px;
    margin-top: 70px;
  }

  .sucess-paragraph {
    font-size: 35px;
  }

  /* Success button */

  .home {
    height: 50px;
    margin-top: 25px;
  }

  /* Events/rare finds page - events css reused on rare finds page as both have the similar layout */

  .events-main {
    width: 80%;
    margin: auto;
  }

  #events-paragraph {
    font-size: 20px;
  }

  .first-event {
    margin-top: 32px;
  }

  .first-event p {
    margin-top: 32px;
    width: 50%;
  }

  .second-event p {
    margin-top: 32px;
    width: 50%;
  }

  .third-event {
    margin-bottom: 36px;
  }

  .third-event p {
    margin-top: 32px;
    width: 50%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

 

   .main-paragraph {
    position: absolute;
    width: 25%;
    margin-left: 500px;
    margin-top: 96px;
    font-size: 30px;
  } 


  .jordans {
  
    margin-right:0;
    margin-left: auto;
    display:block;
/* Displays image to the left of the text on XL devices */
    
  }

  .logo-display{
    margin-left:2rem !important;
  }


  .main-paragraph {
    margin-left: 850px;
    font-size:30px;
  }

  .jordans {
    margin-left: 4rem !important;
  }

  #subscribe p {
    margin-right:4rem !important;
  }
}

/* End of media queries */
