/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS variables */

:root {
  --color-primary: #000; /* black */
  --color-secondary: #ffffff; /* white */
  --color-tertiary: #d10f0f; /* red */
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Public Sans", sans-serif;
}

/* General styles */

body {
  font-family: var(--primary-font);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Buttons */

.red-button {
  background-color: var(--color-tertiary) !important;
}

.red-button:hover {
  color: #000 !important;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
}

/* Header section */
header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a {
  text-decoration: none;
  color: var(--primary-font);
  font-family: var(--secondary-font);
}

header li {
  list-style-type: none;
}

/* Toggel navigation */

nav {
  margin: 1rem;
}

#nav-list {
  justify-content: space-between;
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  left: 0;
  display: none;
}

#menu:checked ~ #nav-list {
  display: block;
}

#menu {
  display: none;
}

.active:hover {
  text-decoration: underline;
}

.sub-highlight {
  border: 2px solid var(--color-tertiary);
  border-radius: 5px;
  background-color: var(--color-tertiary);
  padding: 0.3rem;
  color: var(--color-secondary);
  font-size: 13px;
  text-align: center;
}
/* Main section */

main {
  background-color: var(--color-secondary);
  flex: 1 0 auto;
  margin-top: 1rem;
}

.about-us {
  margin-top: 2rem;
}

/* Centering subscribe button  */
.sub {
  display: block;
  margin: auto;
  width: 6rem;
  text-decoration: none;
}

section {
  margin: auto;
  /* Centers main content but does not affect content on bigger screens */
}

.first-section {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 80%;
}

.first-col {
  text-align: center;
  font-size: 14px;
}

.main-header {
  text-align: center;
  margin-top: 2rem;
  font-size: 18px;
}

.main-paragraph {
  text-align: center;
  font-size: 13px;
}

.second-header {
  text-align: center;
  margin-top: 1rem;
  font-size: 25px;
}

.card {
  margin: 1rem;
  border: none !important;
}

.featured-header {
  font-size: 25px;
  text-align: center;
}

.featured-paragraph {
  text-align: center;
}

/* Footer section */

footer {
  background-color: #ffffff;
  display: flex;
  border-top: 1.7px solid #000;
}

footer h6 {
  padding: 0 1em;
}

#contact a {
  display: inline-block;
  margin: 1rem;
  color: var(--color-primary);
  float: left;
  padding: 0;
}

#contact p {
  padding: 1em;
}

#subscribe {
  margin: 1em;
}

#subscribe p {
  font-size: 12px;
  margin-top: 2rem;
}

.column {
  border: 1px solid #000;
  min-height: 4rem;
}

/* Subscribe Page  */

#details {
  margin-left: 15px;
}

.newsletter-header {
  margin-left: 20px;
}

.newsletter-paragraph {
  margin-left: 20px;
}

.email {
  width: 100px;
}

.submit {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: var(--color-tertiary) !important;
}

/* Success page */

.sucess-header {
  text-align: center;
  font-size: 35px;
  margin-top: 70px;
}

.sucess-paragraph {
  text-align: center;
}

/* sucess button */

#return {
  text-align: center;
  /*Centers button on all screen sizes */
}

/* Events/rare finds page - events css reused on rare finds page as both have the same layout */

.first-event {
  margin-top: 16px;
}

/* Media queries */

/* Small devices (portrait tablets and large phones, 350px and up) */
@media only screen and (min-width: 350px) {
  .second-header {
    margin: auto;
  }

  section {
    width: 90%;
  }

  /* Code from W3schools.com to center the first image ( Centers the image horizontally )- added margin-bottom and changed width */

  .first-section {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* Header */

  #logo {
    text-wrap: nowrap;
  }

  nav {
    display: flex;
  }

  #nav-list {
    display: block;
    position: relative;
    padding: 1rem;
    display: flex;
    /*Puts the nav list into a row */
  }

  nav li {
    padding: 1rem;
    /* space between nav list */
  }

  #rare-nav {
    text-wrap: nowrap;
  }

  #menu-bars {
    display: none !important;
    /* make the nav toggle bars disapper */
  }

  .sub {
    margin-top: 0.5rem;
    text-align: center;
  }

  /* Main */

  .main {
    display: flex !important;
  }

  .first-col {
    font-size: 22px;
  }

  /* .first-section p {
    float: right;
    padding: 10px 10px;
    font-size: 15px;
  } */

  .featured-header {
    text-align: center;
    text-wrap: wrap;
  }

  .main-header {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 30px;
  }

  .main-paragraph {
    float: right;
    margin-top: 10rem;
    font-size: 20px;
    width: 50%;
    /* wraps the text */
  }

  .second-section {
    display: flex !important;
    justify-content: space-evenly;
    margin-top: 1rem !important;
  }

  .second-header {
    text-align: center;
    margin-top: 1rem;
  }

  /* Footer */

  #subscribe {
    position: absolute;
    right: 0;
  }

  /* #ftbutton {
    margin-left: 25px;
  } */

  #contact {
    display: flex;
    margin-bottom: 4rem;
  }

  footer h6 {
    padding: 1.2rem;
  }

  /* Subscribe page */

  .newsletter {
    margin-left: 150px;
    margin-top: 80px;
  }

  /* Success page */

  .sucess-header {
    margin-top: 150px;
  }

  .sucess-paragraph {
    font-size: 18px;
  }

  /* Events/rare finds page - events css reused on rare finds page as both have the same layout */

  /* Flex row and row reverse allows image and text to be next to each other on the left and the right */

  #events-paragraph {
    font-size: 15px;
  }

  .first-event {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
  }

  .first-event p {
    margin-left: 1rem;
  }

  .second-event {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 16px;
  }

  .second-event p {
    margin-right: 2rem;
  }

  .third-event {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    margin-bottom: 20px;
  }

  .third-event p {
    margin-left: 2rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #sub-highlight {
    font-size: 15px;
  }

  .sub {
    padding: 6px 8px 6px 8px !important ;
    font-size: 18px !important;
  }

  .about-us {
    margin-top: 25px;
  }

  #first-header {
    font-size: 35px;
    margin-bottom: 2rem;
  }

  .first-section {
    margin-right: 7rem;
  }

  .second-header {
    padding-top: 4rem;
    font-size: 35px;
  }

  .main-header {
    font-size: 35px;
  }

  .main-paragraph {
    position: absolute;
    width: 25%;
    margin-left: 600px;
    margin-top: 96px;
    font-size: 30px;
    /* margin: auto; */
    /* text-align: center; */
  }

  /* Subscribe page */

  .newsletter {
    margin: auto;

    width: 25%;
  }

  .newsletter-header {
    font-size: 30px;
  }

  .newsletter-paragraph {
    font-size: 15px;
  }

  /* subscibe success page */

  .sucess-header {
    font-size: 70px;
    margin-top: 70px;
  }

  .sucess-paragraph {
    font-size: 35px;
  }

  /* Success button */

  .home {
    height: 50px;
    margin-top: 25px;
  }

  /* Events/rare finds page - events css reused on rare finds page as both have the same layout */

  .events-main {
    width: 80%;
    margin: auto;
  }

  #events-paragraph {
    font-size: 20px;
  }

  .first-event {
    margin-top: 32px;
  }

  .first-event p {
    margin-top: 32px;
    width: 50%;
  }

  .second-event p {
    margin-top: 32px;
    width: 50%;
  }

  .third-event {
    margin-bottom: 36px;
  }

  .third-event p {
    margin-top: 32px;
    width: 50%;
  }
}

/* End of media queries */
